body {
    font-family: bold, sans-serif;
    line-height: 2;
    margin: 2;
    padding: 2;
    background-color: #ffd698f9;
}

header {
    background: #402b00;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    background: #402b00;
    color: #fff;
    padding: 0;
    list-style: center;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 0.5rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 1rem;
    text-align: center;
}

section {
    background: #fff0d9;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

section h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 0.5rem;
}

section img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 1rem 0;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
